<h1 class="text-center font-hairline text-indigo-600 text-6xl m-4">Vienna Airport</h1>

<div class="mx-auto max-w-2xl">
  <div class="bg-white self-center rounded overflow-hidden shadow-md text-center" style="height: 7.2rem;">
    <div class="px-6 py-4">
      <div class="font-semibold text-2xl mb-2 text-indigo-700">Ljubljana</div>
      <p class="text-gray-700 text-base">It is ok temperature.</p>
    </div>
  </div>
</div>

<div class="mx-auto max-w-xl bg-indigo-200 -mt-6 rounded shadow-2xl flex items-stretch" >
  <div class="px-6 py-4">
    <span class="inline-block bg-indigo-100 rounded px-3 py-1 text-sm font-semibold text-indigo-800">17.5 ℃</span>
    <span class="inline-block bg-indigo-100 rounded px-3 py-1 text-sm font-semibold text-indigo-800">gate closed</span>
    <span class="inline-block bg-indigo-100 rounded px-3 py-1 text-sm font-semibold text-indigo-800">23 Sep 2019 at 12:00</span>
  </div>
</div>
